# Folders to not save to the repo
.vscode/
bin/
include/
lib/
site-packages/
__pycache__/
ext/__pycache__/
.idea/

# Files to not save to the repo
# NOTE: 'lib64' is a symlink, meaning it's a reference/pointer to the 'lib' folder
lib64
pyvenv.cfg
config.yaml